
h1{
    text-align: center;
}
img{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
button{
    display: flex;
    margin-left: 47%;
    margin-top: 30px;
    padding: 10px;
    background: #37deff6b;
    border-radius: 10px;
    border: 1px solid black;
}